@tailwind base;

@tailwind components;

@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Oswald:wght@700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

:root{
    --main--height:90vh;
}
h1{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Noto Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}
.main-container{
    width: 100vw;
    height: var(--main--height);
}
.box-1 {
    height:var(--main--height);

}
.box-2 {
    height:var(--main--height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.box-3 {
    height:var(--main--height);
   

}
.h1class{
    font-weight: bold;
    color:#7743DB
}
.box-2 p,.box-3 p{
    font-size: 22px;
    
}
.img-container-1{
    width: 100%;
    height: 40%;
 
}
.img-container-1 img{
 
    width: 90%;
    height: 100%;
    /* background-color: ; */
    object-fit: cover;
    border: 0px solid;
    border-radius: 30px;
    margin: auto;
}
.im2-container{
    width: 100%;
    height: 40%;
    object-fit: cover;
    background-color: aquamarine;

}
.im2-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}




.img3-container{
    width: 100%;
    height: 30%;
  


}
.img3-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0 solid;
    border-radius: 25px;

}